/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* colores en las card */
/* botones*/
/* media Queries*/
body {
  font-family: "Courier New", Courier, monospace;
}

.custom-carousel-height {
  height: 50%;
  overflow: hidden;
}
.custom-carousel-height .carousel-item {
  height: 100%;
}
.custom-carousel-height img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#producIndex {
  height: 40%;
}
#producIndex .contenedor {
  height: 450px;
  width: 200px;
}
#producIndex .contenedor .card, #producIndex .contenedor #mainProductos .grilla .cardProducto, #mainProductos .grilla #producIndex .contenedor .cardProducto {
  height: 100%;
}
#producIndex .contenedor .card .card-img-top, #producIndex .contenedor #mainProductos .grilla .cardProducto .card-img-top, #mainProductos .grilla #producIndex .contenedor .cardProducto .card-img-top {
  height: 550px;
  width: 100%;
}

/* colores en las card */
/* botones*/
/* media Queries*/
header {
  top: 0;
  padding: 20px 60px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: #292929;
}
header .logoHeader {
  width: 180px;
  height: 100px;
}
header img {
  width: 100%;
  height: 100%;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
header nav ul li {
  display: inline-block;
  margin-left: 20px;
}
header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
header nav ul li a:hover {
  color: #0808eb;
}

/* colores en las card */
/* botones*/
/* media Queries*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #292929;
  height: 10%;
  width: 100%;
  padding: 20px;
}
footer .iconNetworks ul {
  display: flex;
  gap: 20px;
}
footer .iconNetworks ul li a i {
  font-size: 20px;
  color: #0808eb;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #0808eb;
}
footer .iconNetworks ul li a i:hover {
  color: white;
  background-color: #0808eb;
  border: 1px solid white;
}

/* colores en las card */
/* botones*/
/* media Queries*/
.button-producto {
  background-color: #0808eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button-producto:hover {
  background-color: #0056b3;
}

.button-promo {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button-promo:hover {
  background-color: #f33308;
}

/* colores en las card */
/* botones*/
/* media Queries*/
.card, #mainProductos .grilla .cardProducto {
  background-color: #f4f4f4;
  border: 1px solid #a7a7a7;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img, #mainProductos .grilla .cardProducto img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
.card h2, #mainProductos .grilla .cardProducto h2 {
  font-size: 1.2rem;
  color: #ff5733;
}

/* colores en las card */
/* botones*/
/* media Queries*/
/* colores en las card */
/* botones*/
/* media Queries*/
.card, #mainProductos .grilla .cardProducto {
  background-color: #f4f4f4;
  border: 1px solid #a7a7a7;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img, #mainProductos .grilla .cardProducto img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
.card h2, #mainProductos .grilla .cardProducto h2 {
  font-size: 1.2rem;
  color: #ff5733;
}

#mainProductos {
  margin-top: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#mainProductos h1 {
  margin-bottom: 20px;
  color: #0808eb;
}
#mainProductos .grilla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}
#mainProductos .grilla .cardProducto {
  width: 350px;
  height: 340px;
}
#mainProductos .grilla .cardProducto div {
  width: 200px;
  height: 200px;
}
#mainProductos .grilla .cardProducto h3 {
  font-size: 1rem;
  margin: 10px 0;
}
#mainProductos .grilla .cardProducto span.precioAntes {
  text-decoration: line-through;
  color: #a7a7a7;
}

/* colores en las card */
/* botones*/
/* media Queries*/
#mainPromociones {
  margin-top: 120px;
  text-align: center;
  padding: 0 120px;
  height: 100vh;
  width: 100%;
  display: inline-block;
}
#mainPromociones #mainPromociones h1 {
  margin-bottom: 20px;
}
#mainPromociones .grillaPromo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
#mainPromociones .grillaPromo .cardPromo {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainPromociones .grillaPromo .cardPromo .cardPromo div {
  width: 200px;
  height: 150px;
}
#mainPromociones .grillaPromo .cardPromo .cardPromo div .cardPromo img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
#mainPromociones .grillaPromo .cardPromo .cardPromo h2 {
  font-size: 1.2rem;
  color: #ff5733;
}
#mainPromociones .grillaPromo .cardPromo .cardPromo h3 {
  font-size: 1rem;
  margin: 10px 0;
}

/* colores en las card */
/* botones*/
/* media Queries*/
#contacto {
  margin-top: 120px;
  height: 100vh;
  display: inline-block;
}
#contacto .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: solid #0808eb;
  border-radius: 15px;
  margin: 0 30px;
}
#contacto .contenedor section {
  padding: 20px 50px;
}
#contacto .contenedor section .contactoTitulo {
  padding: 20px;
}
#contacto .contenedor section .contactoTitulo h2 {
  padding: 10px 0;
  color: #0808eb;
}
#contacto .contenedor section input {
  margin: 10px;
  border: 1px solid #a7a7a7;
  border-radius: 5px;
  padding: 10px;
}
#contacto .contenedor .contactoRedes ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 30px 0;
}
#contacto .contenedor .contactoRedes ul li i {
  font-size: 30px;
  color: #0808eb;
  margin-right: 15px;
  transition: color 0.3s ease;
}
#contacto .contenedor .contactoRedes ul li i:hover {
  color: #0808eb;
  cursor: pointer;
}
#contacto .contenedor .contactoRedes ul li a {
  text-decoration: none;
  color: black;
}
#contacto .contenedor .contactoRedes ul li a:hover {
  text-decoration: underline;
  color: #0808eb;
}

/*# sourceMappingURL=style.css.map */
