@import '../base/variables';
@import '../base/mixins';

#contacto {
  margin-top: 120px;
  height: 100vh;
  display: inline-block;

  .contenedor {
    @include flex-center;
    flex-direction: row;
    border: solid $color-complementario;
    border-radius: 15px;
    margin: 0 30px;
    
    section {
      padding: 20px 50px;

      .contactoTitulo {
        padding: 20px;

        h2 {
          padding: 10px 0;
          color: $color-complementario;
        }
      }

      input {
        margin: 10px;
        border: 1px solid $color-box-shadow;
        border-radius: $border-radius-default;
        padding: 10px;
      }
    }

    .contactoRedes {
      ul {
        list-style-type: none;
        display: flex;
        gap: 15px;
        margin: 30px 0;

        li {
          i {
            font-size: 30px;
            color: $color-complementario;
            margin-right: 15px;
            transition: color 0.3s ease;

            &:hover {
              color: $color-complementario;
              cursor: pointer;
            }
          }

          a {
            text-decoration: none;
            color: black;

            &:hover {
              text-decoration: underline;
              color: $color-complementario;
            }
          }
        }
      }
    }
  }
}