$layout-background: #292929;
$color-complementario:#0808eb;


/* colores en las card */
$color-card: #f4f4f4;
$color-box-shadow:#a7a7a7;

/* botones*/
$boton-productos:#007bff;
$hover-color: #0056b3;
$color-promo:#ff5733;
$hover-promo:#f33308;

$font-color: white;
$padding-default: 10px;
$border-radius-default: 5px;

/* media Queries*/
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
